// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: #F7F7F7;
}

.row.errors {
	margin-top: 20px;
}

.hidden {
	display: none;
}

hr {
	color: #F7F7F7;
	height: 1px;
	margin-bottom: 0px;
	margin-right: 20px;
	margin-top: 0px;
}

.item-index .header {
	margin-bottom: 30px;
	margin-top: 15px;
}

.items .btn-success {
	background: #7ED321;
	border: solid #7ED321 1px;
}

.items .name {
	font-size: 16px;
	padding-top: 5px;
}

.items .price {
	font-size: 16px;
	padding-top: 5px;
}

.items .panel {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: inherit;
	padding: 15px;
	padding-left: 20px;
}

.location-selection select {
	height: 40px;
	margin-top: 25px;
	font-size: 18px;
	width: 90%;
}

#main-container {
	padding-left: 15px;
	padding-right: 15px;
}

.custom-form label {
	font-size: 24px;
	font-weight: 600;
}

.custom-form input {
	height: 40px;
	margin-top: 25px;
	font-size: 18px;
	width: 90%;
	padding: 5px;
}

.custom-form .sold-out-btn-group {
	margin-top: 20px;
}

.custom-form .sold-out-btn-group .btn-secondary {
	padding-left: 30px;
	padding-right: 30px;
	background: #a8a8a8;
	border: solid #a8a8a8 1px;
}

.custom-form .sold-out-btn-group .btn-secondary.active {
	padding-left: 30px;
	padding-right: 30px;
	background: #14B1FF;
	border: solid #0e7bb2 2px;
}

.custom-form .big-blue-btn {
	margin-top: 30px;
	margin-left: 15px;
}

.new-order .actions {
	position: absolute; 
	bottom: 0px;
}

.new-order label {
	font-size: 24px;
	font-weight: 600;
}

.new-order .section {
	margin-top: 30px;
}

.new-order .section.items {
	margin-top: 50px;
	overflow-y: auto;
  max-height: 665px;
}

.new-order .current-sale .add-note {
	color:#14B1FF
}


.new-order .current-sale .delete-item {
	color: red;
	padding-right: 50px;
	margin-top: 20px;
	cursor: pointer;
}


.new-order .current-sale .items {
	overflow-y: auto;
	max-height: 550px;
}

.new-order .current-sale .item-name {
	padding-top: 5px;
	font-size: 18px;
	margin-top: 20px;
}

.new-order .current-sale .panel {
	margin-top: 10px;
	padding-top: 10px;
	height: inherit;
	min-height: 98%;
	border-bottom: none;
}

.new-order .current-sale .total {
	text-align: right;
}

.big-blue-btn {
	height: 60px;
	width: 100%;
	font-size: 24px;
	background: #14B1FF;
	border: solid #14B1FF 1px;
}

.orders .complete-btn {
	height: 60px;
	width: 100%;
	font-size: 24px;
	background: #14B1FF;
	border: solid #14B1FF 1px;
}

.orders .cancel-order {
	color: #14B1FF;
	font-size: 18px;
	margin-left: 10px;
}

.orders .details .header {
	font-size: 32px;
	font-weight: 600;
	padding-top: 5px;
}

.orders .items {
	font-size: 18px;
	margin-top: 20px;
}

.orders .items .header {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 10px;
}

.orders .items hr {
	margin-bottom: 20px;
}

.orders .panel {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: inherit;
	padding-top: 0px;
	margin-bottom: 30px;
}

.orders .total {
	font-size: 24px;
	font-weight: 600;
}

.panel {
	background: white;
	border: solid #979797 1px;
	height: 145px;
	margin-top: 10px;
	padding-left: 20px;
	padding-top: 10px;
}

.panel.current-sale{
	height: inherit;
	min-height: 80%;
}

.recap-table {
	margin-top: 20px;
	margin-bottom: 20px;
}

.recap-table .total {
	font-weight: 600;
}

table.table-striped {
	font-size: 18px;
}