// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: #F7F7F7;
}


hr {
	color: #F7F7F7;
	height: 1px;
	margin-bottom: 0px;
	margin-right: 20px;
	margin-top: 0px;
}

.items .btn-success {
	background: #7ED321;
	border: solid #7ED321 1px;
}

.items .name {
	font-size: 16px;
	padding-top: 5px;
}

.items .price {
	font-size: 16px;
	padding-top: 5px;
}

.items .panel {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: inherit;
	padding: 15px;
	padding-left: 20px;
}

#main-container {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
}

.panel {
	background: white;
	border: solid #979797 1px;
	height: 145px;
	margin-top: 10px;
	padding-left: 20px;
	padding-top: 10px;
}

.panel.current-sale{
	height: inherit;
	min-height: 200px;
}


.panel .location-selection select {
	height: 40px;
	margin-top: 25px;
	width: 145px;
}

.panel .location-selection label {
	font-size: 24px;
  font-weight: 600;
}